/* CSS Reset */

* { 
    margin: 0;
    padding: 0;
}

/* Navigation Bar logo and image */

.logo {
    margin: 2px 10px;
}

.logo img {
    height: 60px;
    margin: 2px 4px;
    
}

.logo label {
    color: #e2b676;
    display: block;
    position: absolute;
    font-size: 1.5rem;
    font-family: 'Concert One', cursive;
    top: 21px;
    left: 70px
}

/* Navigation Bar list styling */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.1rem;   
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

.title {
    color: #e0b977;
    display: block;
    padding: 3px;
    padding-right: 20px;
    border-radius: 20px;
    text-decoration: none;
}

/* footer */

footer {
    background: black;
    color: white;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 184px;
    height: 420px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

#home::before {
    content: "";
    background: url(bg2.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 560px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#home p{
    color: #e79040;
    text-align: center;
}

p {
    font-size: 1.2rem;
}
/* Services Section */

#aboutus{
    margin: 8px;
    display: flex;
}

#aboutus .box{
    border: 2px solid brown; 
    padding: 34px;   
    margin: 3px 30px;
    margin-bottom: 20px;
    border-radius: 23px;
    background-color: #f1f1f1;
}
#aboutus .box img{
    height: 160px; 
    display: block;       
    margin: auto;
}

.box img {
    border-radius: 10px;
    justify-content: space-between;
}

.mid ul{
    padding-left: 340px;

}
/* Contact Section */

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url(contactus.jpg) no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
}

#contact-box form {
    width: 30%;   
}

#contact-box label{
    font-size: 1.3rem;
}

/* Utility Classes */

.first {
    font-size: 2.4rem;
    padding: 5px;

}

.second {
    font-size: 2.2rem;
    padding: 12px;

}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
 
.btn a {
    text-decoration: none;
    color: white;
}

.cobtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctbtn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.ctbtn a {
    text-decoration: none;
    color: white;
}

.center {
    text-align: center; 
}
 
.first, .second {
    font-family: 'Pacifico', cursive;
}
/* Client Section */

#client-section {
    position: relative;
    height: 100%;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(bg3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item img {
    padding: 20px;
}

